<main class="container">


    <nav>
      <div class="nav-buttons" ui-sref="profile">Profile</div>
      <div id ="current-icon" class="nav-buttons" ui-sref="feed">Feed</div>
      <div class="nav-buttons" ui-sref="daily">Daily</div>
    </nav>

    <form ng-submit="postStatus(obj)">
      <div class="input-group">
        <textarea placeholder="Post a new workout/announcement..." ng-model="obj.body"></textarea>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary">Add New</button>
        </span>
      </div>
    </form>

    <div ng-repeat="status in statuses">
      {{status.user.name.first}} {{status.body}} {{status.createdAt | date: short}}  <span ng-click="deleteStatus(status._id)" ng-if="currentUser._id === status.user._id">X</span>
    </div>

</main>
