<main class="container">


    <nav>
      <div class="nav-buttons" ui-sref="daily">Daily</div>
      <div id ="current-icon" class="nav-buttons" ui-sref="feed">Feed</div>
      <div class="nav-buttons" ui-sref="profile">Profile</div>
    </nav>

    <div class="page-h1">My Feed</div>


      <div class="input-group">
          <div class="nametag"> Post as <span>{{currentUser.name.first}}</span></div>
        <textarea placeholder="What's on your mind?" ng-model="obj.body"></textarea>
        <div id="button-holder">
            <div class="small-submit-right" ng-click="postStatus(obj)">
                Submit
            </div>
        </div>
      </div>

     <div class="post-container" ng-repeat="status in statuses">
         <div class="avatar"></div>
         <div class=timestamp-name>
             <span>{{status.user.name.first}} {{status.user.name.last}}</span> <span>{{status.createdAt | date: short}}</span>
         </div>
         <div class="post-body">
            {{status.body}}
         </div>
         <span class="delete"ng-if="currentUser._id === status.user._id" ng-click="deleteStatus(status._id)"><strong>X</strong></span>
     </div>

</main>
