<main class="main-container">

    <nav class="land-nav">
      <div id="home-icon">Home</div>
      <div class="nav-buttons" ng-click="toggleLogin(loginForm)">Login</div>
      <div class="nav-buttons" ui-sref="feed">Social</div>
      <div class="nav-buttons" ui-sref="daily">About</div>
    </nav>

    <div class="curtain" ng-show="curtain" ng-click="hideAllForms(loginForm, signUp, curtain)">

    </div>

      <div class="login-box shadow modal" ng-show="loginForm">
        <p id="sign-in">
          Sign In
        </p>
        <input class="nice-input" placeholder="email" ng-model="user.email"/>
        <input class="nice-input" type="password" placeholder="password" ng-model="user.password"/>
        <div class="fb shadow" ng-click="userLogin(user)">
          Sign in
        </div>
        <p>
          Need an accout? <span class="sign-up" ng-click="showSignup(signUp)">Signup</span>
        </p>

      </div>

        <div class="signup-box shadow modal" ng-show="signUp">
          <p id="sign-in">
            Create an Account
          </p>
          <input class="nice-input" placeholder="First Name" ng-model="newUser.name.first"/>
          <input class="nice-input" placeholder="Last Name" ng-model="newUser.name.last"/>
          <input class="nice-input" placeholder="enter an email address" ng-model="newUser.email"/>
          <input class="nice-input" type="password" placeholder="enter a password" ng-model="newUser.password"/>
          <div class="fb shadow" ng-click="createUser(newUser)">
            Sign in
          </div>
          <p>
            Back to <span class="sign-up" ng-click="showLoginAgain(loginForm)">Login</span>
          </p>

        </div>




</main>
