<main class="container">


    <nav class="main-nav">
        <div class="nav-buttons" ui-sref="daily">Daily</div>
        <div class="nav-buttons" ui-sref="feed">Feed</div>
        <div id ="current-icon" class="nav-buttons" ui-sref="profile">Profile</div>
        <div class="nav-buttons" ng-click="logout()">Log out</div>
    </nav>

    <section class="prof-pic-section">
        <div class="edit-icon-holder">
                <div class="edit-icon" ng-click="showEditPane(curtain, editPane)"></div>
        </div>
        <div class="prof-pic" style="background:url({{profile.image}});background-size:cover;background-position:center;"></div>
        <p class="name-holder">
            {{profile.name.first}} {{profile.name.last}}
        </p>
        <p class="bio">
            {{profile.bio}}
        </p>
    </section>

    <div>
        {{profile}}
    </div>

    <div class="curtain animated fadeIn" ng-if="curtain" ng-click="hideAll()">

    </div>

    <section class="edit-profile modal animated fadeIn" ng-if="editPane">
        <div class="edit-header">Edit Profile</div>
        <div class="edit-container">
            <div class="profile-pic-container">
                <div class="profile-pic-edit" style="background:url({{profile.image}});background-size:cover;background-position:center;"></div>
                <div class="fileUpload shadow">
                    <span>Upload New Photo</span>
                    <input type="file" class="upload" fileread profile="profile" accept="image/*" />
                </div>
            </div>
            <div class="info-container">
                <div class="personal-info-header">Personal Info</div>
                <div class="personal-info">
                    First name<input class="personal-input" ng-model="profile.name.first"/>
                    Last name:<input class="personal-input" ng-model="profile.name.last"/>
                    Bio:<input class="personal-input" ng-model="profile.bio"/>
                    Email:<input class="personal-input" ng-model="profile.email"/>
                </div>
                <div class="buttons">
                    <div class="small-submit" ng-click="updateProfile(profile)">Submit</div>
                    <div class="cancel" ng-click="hideAll()">Cancel</div>
                </div>
            </div>
        </div>
    </section>

</main>
