<main class="container">


    <nav class="main-nav">
        <div class="nav-buttons" ui-sref="daily">Daily</div>
        <div class="nav-buttons" ui-sref="feed">Feed</div>
        <div id ="current-icon" class="nav-buttons" ui-sref="profile">Profile</div>
        <div class="nav-buttons" ng-click="logout()">Logout</div>
    </nav>

    <section class="prof-pic-section">
        <div class="edit-icon-holder">
                <div class="edit-icon" ng-click="showEditPane(curtain, editPane)"></div>
        </div>
        <div class="prof-pic" style="background:url({{profile.image}});background-size:cover;background-position:center;"></div>
        <p class="name-holder">
            {{profile.name.first}} {{profile.name.last}}
        </p>
        <p class="bio">
            {{profile.bio}}
        </p>
    </section>

        <div class="page-h1">My Activity</div>

    <div class="feed" ng-repeat="status in feedActivity">  <!--1 Column Feed Item Holder-->
      <div class="feed-item blog">
        <div class="icon-holder"><div class="icon" style="background:url({{status.user.image}});background-size:cover;background-position:center;"></div></div>
        <div class="text-holder col-3-5">
          <div class="feed-title">{{status.user.name.first}} {{status.user.name.last}}</div>
          <div class="feed-description">{{status.body}}</div>
        </div><!--End of Text Holder-->
    <div class="post-options-holder" ng-if="currentUser._id === status.user._id || currentUser.admin === true" ng-click="deleteStatus(status._id); getStatus()">X</div><!--End Post Options Holder -->
    <div class="sub-comment-section">
        <div ng-repeat="comment in status.comments">
            <div class="sub-comment-item">
              <div class="icon-holder"><div class="icon" style="background:url({{comment.user.image}});background-size:cover;background-position:center;"></div></div>
              <div class="text-holder col-3-5">
                <div class="feed-title">{{comment.user.name.first}} {{comment.user.name.last}}</div>
                <div class="feed-description">{{comment.body}}</div>
              </div><!--End of Text Holder-->
          <div class="post-options-holder" ng-if="currentUser._id === comment.user._id || currentUser.admin === true" ng-click="deleteStatusComment(comment._id, status._id); getStatus()">X</div><!--End Post Options Holder -->
        </div>
    </div>
  </div>
  </div><!--End of Feed Item-->
  </div>

    <div class="curtain animated fadeIn" ng-if="curtain" ng-click="hideAll()">

    </div>

    <section class="edit-profile modal animated fadeIn" ng-if="editPane">
        <div class="edit-header">Edit Profile</div>
        <div class="edit-container">
            <div class="profile-pic-container">
                <div class="profile-pic-edit" style="background:url({{profile.image}});background-size:cover;background-position:center;"></div>
                <div class="fileUpload shadow">
                    <span>Upload New Photo</span>
                    <input type="file" class="upload" fileread profile="profile" accept="image/*" />
                </div>
            </div>
            <div class="info-container">
                <div class="personal-info-header">Personal Info</div>
                <div class="personal-info">
                    First name<input class="personal-input" ng-model="profile.name.first"/>
                    Last name:<input class="personal-input" ng-model="profile.name.last"/>
                    Bio:<input class="personal-input" ng-model="profile.bio"/>
                    Email:<input class="personal-input" ng-model="profile.email"/>
                </div>
                <div class="buttons">
                    <div class="small-submit" ng-click="updateProfile(profile)">Submit</div>
                    <div class="cancel" ng-click="hideAll()">Cancel</div>
                </div>
            </div>
        </div>
    </section>

</main>
