<main class="container">


    <nav>
      <div id ="current-icon" class="nav-buttons" ui-sref="profile">Profile</div>
      <div class="nav-buttons" ui-sref="feed">Feed</div>
      <div class="nav-buttons" ui-sref="daily">Daily</div>
    </nav>

    <section class="prof-pic-section">
        <div class="prof-pic"></div>
        <div class="edit-icon" ng-click="showEditPane(curtain, editPane)"></div>
    </section>

    <section class="bio-section">
        <div class="bio">
            Bio: {{profile.bio}}
        </div>
    </section>
    <div>
        {{profile}}
    </div>

    <div class="curtain animated fadeIn" ng-if="curtain" ng-click="hideAll()">

    </div>

    <section class="edit-profile modal animated fadeIn" ng-if="editPane">
        <div class="edit-header">Edit Profile</div>
        <div class="edit-container">
            <div class="profile-pic-container">
                <div class="profile-pic-edit"></div>
                <div class="fileUpload shadow">
                    <span>Upload New Photo</span>
                    <input type="file" class="upload" />
                </div>
            </div>
            <div class="info-container">
                <div class="personal-info-header">Personal Info</div>
            </div>
        </div>
    </section>

</main>
