@import url(https://fonts.googleapis.com/css?family=Merriweather:900,400);

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background: #ededef;
}

nav {
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.8);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding-right: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /*-webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);*/
}

header {
  background: url('./pics/GymPic.jpg');
  background-position: top;
  width: 100%;
  height: 300px;
  text-align: center;
}

textarea {
    padding-top: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: none;
  width: 500px;
  min-height: 50px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none;
  border: 1px solid lightgrey;
  border-radius: 5px;
  color: lightgrey;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.page-h1 {
    width: 80%;
    font-size: 50px;
    margin: auto;
    color: white;
    border-bottom: 1px solid lightgrey;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.input-group {
    width: 600px;
    height: auto;
    font-family: 'Roboto', sans-serif;
    background: #111;
    background: linear-gradient(#1b1b1b, #111);
    box-shadow: inset 0 0 0 1px #272727;
    margin: auto;
    margin-bottom: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 5px;
	/*box-shadow: 0 7px 6px -6px #777;*/
}

.input-group span {
    color: lightgrey;
}

.input-group textarea {
    padding-left: 5px;
    background: #222;
	background: linear-gradient(#333, #222);
	border: 1px solid #444;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 #000;
}

.nametag {
    width: 500px;
    margin: auto;
    margin-bottom: 0;
    text-align: left;
    color: lightgrey;
}


textarea:focus {
    background: black repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.container {
  width: 100%;
  height: 100vh;
  background: #111;
  background: linear-gradient(#1b1b1b, #111);
  text-align: center;
  overflow-y: scroll;
}

#motivate {
    font-family: 'Roboto', sans-serif;
    font-size: 90px;
    color: white;
    font-weight: 900;
    z-index: 0;
}

#home-icon {
  width: 100px;
  height: 100%;
  float: left;
  background: rgba(255, 0, 0, 0.8);
  text-align: center;
  line-height: 75px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  margin-left:  2px;
  transition: .5s;
}

.nav-buttons {
  width: 100px;
  height: 40px;
  float: right;
  display: flex;
  align-items: center;
  background: none;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  cursor: pointer;
  margin-left:  2px;
  transition: .5s;
}

.nav-buttons:hover {
  border: 1px solid white;
}

.shadow {
  -webkit-box-shadow: 0px 7px 43px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 7px 43px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 7px 43px -9px rgba(0,0,0,0.75);
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  color: #ffa100;
}

.nice-input {
  width: 80%;
  height: 35px;
  margin-bottom: 10px;
}

.fb {
  width: 80%;
  height: 35px;
  background: #476CB7;
  text-align: center;
  line-height: 35px;
  color: white;
  margin-top: 10px;
}

.edit-icon {
    width: 5%;
    height: 5vh;
    background: url('./Edit-icon.png') no-repeat;
    background-size: contain;
    transition: .5s;
}

.edit-icon:hover {
    width: 50px;
    height: 6vh;
    cursor: pointer;
}

.curtain {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal {
  z-index: 3;
  opacity: 1;
}

.edit-profile {
    z-index: 20;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    width: 700px;
    min-width: 400px;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation-delay: .3s;
    padding: 10px;
}

.edit-header {
    height: 5vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.edit-container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.profile-pic-container {
    height: 60vh;
    width: 200px;
    padding-top: 10px;
}

.info-container {
    width: 450px;
    height: 60vh;
    padding-top: 10px;
}

.personal-info-header {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: left;
}

.personal-info {
    width: 100%;
    height: auto;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
}

.personal-input {
    width: 60%;
    height: 35px;
    display: block;
    margin-bottom: 5px;
}

.small-submit {
    width: 125px;
    height: 35px;
    background: #476CB7;
    text-align: center;
    line-height: 35px;
    color: white;
    cursor: pointer;
    float: left;
}

.small-submit-right {
    width: 125px;
    height: 35px;
    background: #222;
	background: linear-gradient(#333, #222);
	border: 1px solid #444;
	border-left-color: #000;
	box-shadow: 0 2px 0 #000;
    text-align: center;
    line-height: 35px;
    color: #c9250c;
    cursor: pointer;
    float: left;
    border-radius: 5px;
}

.cancel {
    width: 100px;
    height: 35px;
    background: none;
    border: 1px solid grey;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    float: left;
    margin-left: 5px;
}

.profile-pic-edit {
    height: 150px;
    width: 150px;
    background: url('./runner.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid lightgrey;
    border-radius: 100px;
    margin: auto;
    margin-bottom: 7px;
}

.buttons {
    width: 100%;
    height: 35px;
    padding-left: 10px;
}

.post-container {
    width: 700px;
    min-height: 100px;
    margin: auto;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    background: #111;
    background: linear-gradient(#1b1b1b, #111);
    box-shadow: inset 0 0 0 1px #272727;
    position: relative;
    color: lightgrey;
}

.avatar {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    float: left;
}

.post-body {
    width: 500px;
    min-height: 75px;
    padding-top: 17px;
    float: left;
    position: absolute;
    bottom: 0;
    left: 100px;
    text-align: center;
}

.name {
    height: 20px;
    width: 100px;
    float: left;
}

.timestamp-name {
    width: 600px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 100px;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
}

.delete {
    position: absolute;
    bottom: 1px;
    right: 5px;
    cursor: pointer;
}

#button-holder {
    width: 500px;
    height: 35px;
    margin: auto;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: auto;
    width: 80%;
    height: 35px;
    background: #476CB7;
    text-align: center;
    line-height: 35px;
    color: white;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 35px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.submit {
    width: 150px;
    height: 35px;
    background: #476CB7;
    text-align: center;
    line-height: 35px;
    color: white;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
}

#current-icon {
  border: 1px solid white;
}
