.main-container {
  width: 100%;
  height: 100vh;
  background: url('./pics/GymPic.jpg') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.get-started {
  font-size: 70px;
  margin: 15px;
  color: white;
}

.login-box {
  height: 250px;
  width: 250px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.login-signup {
  color: #4288CC;
  margin-bottom: -50px;
}

.signup-box {
  width: 300px;
  height: 250px;
  background: white;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.container {
  width: 100%;
  height: 100vh;
  background: none;
}
